@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
    
    PROGRAM CREATED BY MASON FRODSHAM
    MISSION_5 masfrod2
*@
@{
    ViewData["Title"] = "My Journey - IS 413";
    ViewData["Head"] = "Mason Frodsham";
}

<!-- photo of me and my wife skiing -->
<img src="img/Skiing.jpg" />
<p>
    <!-- paragraph about my hopes for IS 413 -->
    I have really enjoyed IS 413 thus far and have already learned a lot!
    <br />I hope to learn more about how to develop web apps using the .NET framework.
    <br />I also hope to understand better what Razor means. it seems like another
    <br />word for the .NET framework but I don't know for sure yet!
    <br />
    <br />I also really look forward to getting good at C#. I like strongly typed
    <br />languages and I hope that I will feel proficient in C# by the end of
    <br />this semester. Ultimately, I want to use the skills I gain to land an
    <br />awesome job and provide for my family.
</p>

<!-- top jobs after graduation -->
<h2>My Top 3 Jobs After Graduation:</h2>
<ul>
    <li>Cyber Security Advisory for KPMG</li>
    <li>Software Developer for a local Utah Company</li>
    <li>Data Analytics for a local Utah Company</li>
</ul>